In [1]:
import sqlite3

conn = sqlite3.connect("pets.db")

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///pets.db

In [4]:
%%sql

DROP TABLE IF EXISTS PETSALE;



CREATE TABLE PETSALE (
	ID INTEGER NOT NULL,
	ANIMAL VARCHAR(20),
	SALEPRICE DECIMAL(6,2),
	SALEDATE DATE,
	QUANTITY INTEGER,
	PRIMARY KEY (ID)
	);


INSERT INTO PETSALE VALUES
(1,'Cat',450.09,'2018-05-29',9),
(2,'Dog',666.66,'2018-06-01',3),
(3,'Parrot',50.00,'2018-06-04',2),
(4,'Hamster',60.60,'2018-06-11',6),
(5,'Goldfish',48.48,'2018-06-14',24);



SELECT * FROM PETSALE;

 * sqlite:///pets.db
Done.
Done.
5 rows affected.
Done.

[(1, 'Cat', 450.09, '2018-05-29', 9),
 (2, 'Dog', 666.66, '2018-06-01', 3),
 (3, 'Parrot', 50, '2018-06-04', 2),
 (4, 'Hamster', 60.6, '2018-06-11', 6),
 (5, 'Goldfish', 48.48, '2018-06-14', 24)]

In [12]:
%%sql
create procedure RETRIEVE_ALL() as
BEGIN
   SELECT *  FROM PETSALE;
END;

 * sqlite:///pets.db
(sqlite3.OperationalError) near "procedure": syntax error
[SQL: create procedure RETRIEVE_ALL() as
BEGIN
   SELECT *  FROM PETSALE;
END;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

No stored procedures in sqlite3 and flemme d'utiliser postgres